colorlog==4.0.2
cycler==0.10.0
future==0.17.1
kiwisolver==1.0.1
#lielearn==0.0.0
#lineprofiler==2.1.2
lxml==4.2.5
matplotlib==3.0.2
mpmath==1.1.0
msgpack==0.6.0
networkx==2.2
pandas==0.23.4
plyfile==0.7
pyglet==1.3.2
#pymppypi==0.4.2
pynvrtc==9.2
pyparsing==2.3.0
pytz==2018.9
slackclient==1.3.0
#svgpath==3.0
sympy==1.3
torchfile==0.1.0
torchnet==0.0.4
trimesh==2.35.49
visdom==0.1.8.8
#websocketclient==0.54.0
xxhash==1.3.0
